<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ExampleSuite">
	<test name="Example Test">
		<groups>
			<run>
				<include name="reg"/>
			</run>
		</groups>

		<classes>
			<class name="testng_demo.ExampleTest1" />
			<class name="testng_demo.ExampleTest2" />
		</classes>
	</test>
</suite> <!-- ExampleSuite -->
